/* ----- ---------- header css -------------------- */
.header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  background-color: #32a862;
  height: 200px;
}

.headList {
  display: flex;
}

.routes {
  list-style-type: none;
  float: left;
}
.title {
  color: white;
}

.routes a {
  padding: 16px;
  color: white;
  text-decoration: none;
  float: right;
  font-size: 20px;
}
.routes a:hover {
  font-weight: bold;
}

/* ----------- body css ------------- */

.cards {
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
  row-gap: 1rem;
  column-gap: 1rem;
  margin-bottom: 20px;
}

.card {
  width: 300px;
  height: 365px;
  box-shadow: 5px 10px 8px #888888;
}

.container {
  margin-left: 10px;
}

.cards2 {
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
  row-gap: 1rem;
  column-gap: 1rem;
}
