
.header{
    display: flex;
    justify-content: space-between;
    text-align: center;
    background-color: #32a862;
    height: 200px;
}

.headList{
margin-top: 40px;
}

.title{
    margin-left: 10px;
    color: white;
    margin-top: 40px;
    
}

ul{
    list-style-type: none;
    overflow: hidden;
}

li{
float: left;

}

li a{
    display: block;
    text-align:right;
    padding: 16px;
    color: white;
    text-decoration: none;
    float: right;
    font-size:18px;
    
}

li a:hover{
    font-size: 22px;
}
/* -------------- body css ----------------- */

progress{
 
    height: 40px;
}
.skills {
    display:grid;
    align-items: center;
    grid-template-columns: 0.5fr 1fr;
}

.intro{
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-top: 10px;
    
}


