
.header{
    display: flex;
    justify-content: space-between;
    text-align: center;
}

.headList{
margin-top: 40px;
}

.title{
    margin-left: 10px;
    color: white;
    margin-top: 40px;
    
}

ul{
    list-style-type: none;
    overflow: hidden;
}

li{
float: left;

}

li a{
    display: block;
    text-align:right;
    padding: 16px;
    color: white;
    text-decoration: none;
    float: right;
    font-size:18px;
    
}

li a:hover{
    border-bottom: 1px solid black;
    
}

.intro{
    margin-top: 10%;
    text-align: center;
}