.navigation{
  display: flex;
  align-items: center;
}
.btn{
  width: 30px;
  height: 30px;
  border: none;
  font-weight: bold;
  color: inherit;
  background: none;
}
#days{
  display: grid;
  grid-template-columns: repeat(7,6ch);
}
li{
  list-style: none;
  border: 1px solid grey;
  text-align: center;
  padding: 10px;
  color: gray;
  margin: -1px -1px 0 0;
}
