.card {
    width: 300px;
    height: 365px;
    box-shadow: 5px 10px 8px #888888;

}
.card h4{
    margin: 0;
    text-align: center;
}

.card span{
    margin: 0;
    margin-top: 35px;
    margin-left: 8px;
}

.card p{
    margin: 0;
    margin-left: 20px;
}



